html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  height: 100%;
}
#root {
  height: 100%;
}
#header {
  height: 86%;
}
.menu {
  margin-left: auto;
}
.nav-link {
  color: black !important;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: #565387 !important;
}
.navbar a {
  font-size: 1.3rem;
  text-transform: capitalize;
}
.navbar a:hover {
  color: #3498db !important;
}
.button {
  border-radius: 30px !important;
  border: 2px solid !important;
}
.brand-name {
  font-size: 46px;
  color: #3498db;
}
P {
  font-size: 16px;
  margin-bottom: 0 !important;
}
.div {
  display: flex;
  flex-wrap: wrap !important;
  row-gap: 20px;
}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}